<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Fixed Top Navbar Example for Bootstrap</title>


	<!-- Ionicons -->
	<!-- <link rel="stylesheet" href="/static/cinema/css/ionicons.min.css"> -->
	<!-- DataTables -->
	<link rel="stylesheet" href="/static/cinema/css/dataTables.bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href='/static/profile/cinema_profile.css'>
	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

	<script type="text/javascript">
		$(function () {
			$("#add_movie_box").hide();
			$("#edit_movie_box").hide();
			// $('#deletebox').hide();
			// $('#rankbox').hide();
		});
	</script>

</head>

<body>
	<div class="container">
		<div class="fb-profile">
			<img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
			<img id="cinema_cover" align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"
			/>
			<div class="fb-profile-text">
				<h1 id="cinema_name">Eli Macy</h1>
				<!-- <p id="cinema_desc">Girls just wanna go fun.</p> -->
			</div>
		</div>
	</div>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Cinema Hub</a>
			</div>
			<!-- <div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="">Default</a>
					</li>
				</ul>
			</div> -->
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">

		<div class="row">
			<div class="col-sm-3">
				<div class="rating-block">
					<h4>Rating</h4>
					<h2 class="bold padding-bottom-7">4.3
						<small>/ 5</small>
					</h2>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
				<br>
				<div class="info-block">
					<h4>Rating breakdown</h4>
					<br>
					<div class="pull-left">
						<div class="pull-left" style="width:35px; line-height:1;">
							<div style="height:9px; margin:5px 0;">5
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<div class="pull-left" style="width:180px;">
							<div class="progress" style="height:9px; margin:8px 0;">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
									<span class="sr-only">80% Complete (danger)</span>
								</div>
							</div>
						</div>
						<div class="pull-right" style="margin-left:10px;">1</div>
					</div>
					<div class="pull-left">
						<div class="pull-left" style="width:35px; line-height:1;">
							<div style="height:9px; margin:5px 0;">4
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<div class="pull-left" style="width:180px;">
							<div class="progress" style="height:9px; margin:8px 0;">
								<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
									<span class="sr-only">80% Complete (danger)</span>
								</div>
							</div>
						</div>
						<div class="pull-right" style="margin-left:10px;">1</div>
					</div>
					<div class="pull-left">
						<div class="pull-left" style="width:35px; line-height:1;">
							<div style="height:9px; margin:5px 0;">3
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<div class="pull-left" style="width:180px;">
							<div class="progress" style="height:9px; margin:8px 0;">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
									<span class="sr-only">80% Complete (danger)</span>
								</div>
							</div>
						</div>
						<div class="pull-right" style="margin-left:10px;">0</div>
					</div>
					<div class="pull-left">
						<div class="pull-left" style="width:35px; line-height:1;">
							<div style="height:9px; margin:5px 0;">2
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<div class="pull-left" style="width:180px;">
							<div class="progress" style="height:9px; margin:8px 0;">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
									<span class="sr-only">80% Complete (danger)</span>
								</div>
							</div>
						</div>
						<div class="pull-right" style="margin-left:10px;">0</div>
					</div>
					<div class="pull-left">
						<div class="pull-left" style="width:35px; line-height:1;">
							<div style="height:9px; margin:5px 0;">1
								<span class="glyphicon glyphicon-star"></span>
							</div>
						</div>
						<div class="pull-left" style="width:180px;">
							<div class="progress" style="height:9px; margin:8px 0;">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
									<span class="sr-only">80% Complete (danger)</span>
								</div>
							</div>
						</div>
						<div class="pull-right" style="margin-left:10px;">0</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">All Movies</h3>
						<button type="button" class="btn btn-primary" id="add_movie_btn">Add Movie</button>
						<br>
						<br>
					</div>
					<!-- /.box-header -->
					<div class="box-body">


						<section id="add_movie_box" class="content">
							<!-- Default box -->
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Add new Movie</h3>
									<!-- general form elements -->
									<div class="box box-primary">
										<!-- /.box-header -->
										<!-- form start -->
										<form id="add_cinema_form" role="form">
											<div class="box-body">
												<div class="form-group">
													<label for="cinemaName">Movie Name</label>
													<input type="text" class="form-control" name="name" placeholder="Enter Move Name">
												</div>

												<div class="form-group">
													<label for="genre">Genre</label>
													<select name="genre" form="add_cinema_form" multiple>
														<option value="Action" selected>Action</option>
														<option value="Adventure">Adventure</option>
														<option value="Comedy">Comedy</option>
														<option value="Crime">Crime</option>
														<option value="Mystery">Mystery</option>
														<option value="Drama">Drama</option>
														<option value="Fantasy">Fantasy</option>
														<option value="Historical">Historical</option>
														<option value="Horror">Horror</option>
														<option value="Political">Political</option>
														<option value="Romance">Romance</option>
														<option value="Saga">Saga</option>
														<option value="Satire">Satire</option>
														<option value="Science">Science</option>
														<option value="fiction">fiction</option>
														<option value="Social">Social</option>
														<option value="Thriller">Thriller</option>
													</select>
												</div>

												<div class="form-group">
													<label for="DirectorName">Director Name</label>
													<input type="text" class="form-control" name="director" placeholder="Enter Director Name">
												</div>

												<div class="form-group">
													<label for="MoviePrice">Price</label>
													<input type="number" class="form-control" name="price" placeholder="Enter Movie Price">
												</div>

												<div class="form-group">
													<label for="MoviePrice">Starting Date</label>
													<input type="date" class="form-control" name="starting_date" placeholder="Enter Starting Date">
												</div>

												<!-- /.box-body -->
												<div class="box-footer">
													<a id="add_movie" class="btn btn-primary" href="#">Add</a>
													<a id="cancel_adding" class="btn btn-danger" href="#">Cancel</a>
												</div>
										</form>
										</div>
										<!-- /.box -->
									</div>
								</div>
								<!-- /.box -->
						</section>

						<section id="edit_movie_box" class="content">
							<!-- Default box -->
							<div class="box">
								<div class="box-header with-border">
									<h3 class="box-title">Edit Movie</h3>
									<!-- general form elements -->
									<div class="box box-primary">
										<!-- /.box-header -->
										<!-- form start -->
										<form id="edit_cinema_form" role="form">
											<div class="box-body">
												<div class="form-group">
													<label for="cinemaName">Movie Name</label>
													<input type="text" class="form-control" name="name" placeholder="Enter Move Name">
												</div>

												<div class="form-group">
													<label for="genre">Genre</label>
													<select name="genre" form="edit_cinema_form" multiple>
														<option value="Action">Action</option>
														<option value="Adventure">Adventure</option>
														<option value="Comedy">Comedy</option>
														<option value="Crime">Crime</option>
														<option value="Mystery">Mystery</option>
														<option value="Drama">Drama</option>
														<option value="Fantasy">Fantasy</option>
														<option value="Historical">Historical</option>
														<option value="Horror">Horror</option>
														<option value="Political">Political</option>
														<option value="Romance">Romance</option>
														<option value="Saga">Saga</option>
														<option value="Satire">Satire</option>
														<option value="Science">Science</option>
														<option value="fiction">fiction</option>
														<option value="Social">Social</option>
														<option value="Thriller">Thriller</option>
													</select>
												</div>

												<div class="form-group">
													<label for="DirectorName">Director Name</label>
													<input type="text" class="form-control" name="director" placeholder="Enter Director Name">
												</div>

												<div class="form-group">
													<label for="MoviePrice">Price</label>
													<input type="number" class="form-control" name="price" placeholder="Enter Movie Price">
												</div>

												<div class="form-group">
													<label for="MoviePrice">Starting Date</label>
													<input type="date" class="form-control" name="starting_date" placeholder="Enter Starting Date">
												</div>

												<!-- /.box-body -->
												<div class="box-footer">
													<a id="edit_movie" class="btn btn-primary" href="#">Edit</a>
													<a id="cancel_editing" class="btn btn-danger" href="#">Cancel</a>
												</div>
										</form>
										</div>
										<!-- /.box -->
									</div>
								</div>
								<!-- /.box -->
						</section>

						<table id="myTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Movie Name</th>
									<th>Genre</th>
									<th>Director</th>
									<th>Price</th>
									<th>Starting Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						</div>
						<!-- /.box-body -->
						</div>

					</div>
				</div>


			</div>



			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>

			<!-- ./wrapper -->
			<!-- DataTables -->
			<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" id="datatable-css">
			<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

			<script>
				$(document).ready(function () {
					var table = $('#myTable').DataTable({
						'paging': true,
						'lengthChange': false,
						'searching': false,
						'ordering': false,
						'info': true,
						'autoWidth': true
					})
				});
			</script>

			<script type="text/javascript" src="/static/cinema.js"></script>
			<br>
			<br>
</body>

</html>